body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
li a {
    color: #ae841a;
    text-decoration: none;  
}
a {
    color: white;
    text-decoration: none;
}

header img {
    width: 180px;
    height: 180px;

    border: 5px solid #ae841a;
}

.center{
    text-align: center;
}

h1{
    color: #ae841a ;
}

footer img{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

.conteiner{
    padding: 0px 50px;
}